Repository Strawbatz/Bat_Brewery, pull requests merged in 2024-02, with the labels that each got.

#35 Visual mask
  Bat_Brewery/Assets/Player/Main Camera.prefab
  Bat_Brewery/Assets/Player/Player.prefab
  Bat_Brewery/Assets/Player/Vision.meta
  Bat_Brewery/Assets/Player/Vision/ViewMaskBorder.png
  Bat_Brewery/Assets/Player/Vision/ViewMaskBorder.png.meta
  Bat_Brewery/Assets/Player/Vision/Vision mask R 4x16.png
  Bat_Brewery/Assets/Player/Vision/Vision mask R 4x16.png.meta
  Bat_Brewery/Assets/Scenes/MovementTest.meta
  Bat_Brewery/Assets/Scenes/MovementTest.unity
  Bat_Brewery/Assets/Scenes/MovementTest/Global Volume Profile.asset
  Bat_Brewery/Assets/Scenes/MovementTest/Global Volume Profile.asset.meta
  Bat_Brewery/ProjectSettings/TagManager.asset
Labels: Grapich Design, System design

#36 Player footsteps
  Bat_Brewery/Assets/Player/Footsteps.meta
  Bat_Brewery/Assets/Player/Footsteps/FootstepController.cs
  Bat_Brewery/Assets/Player/Footsteps/FootstepController.cs.meta
  Bat_Brewery/Assets/Player/Footsteps/FootstepController.prefab
  Bat_Brewery/Assets/Player/Footsteps/FootstepController.prefab.meta
  Bat_Brewery/Assets/Player/Footsteps/FootstepTemp.prefab
  Bat_Brewery/Assets/Player/Footsteps/FootstepTemp.prefab.meta
  Bat_Brewery/Assets/Player/Player.prefab
  Bat_Brewery/Assets/Scenes/MovementTest.unity
  Bat_Brewery/Assets/Utilities.meta
  Bat_Brewery/Assets/Utilities/Utilities.cs
  Bat_Brewery/Assets/Utilities/Utilities.cs.meta
  Bat_Brewery/ProjectSettings/TagManager.asset
Labels: System design

#63 Camera zooming
  Bat_Brewery/Assets/Input System/PlayerInputs.cs
  Bat_Brewery/Assets/Input System/PlayerInputs.inputactions
  Bat_Brewery/Assets/Player/Footsteps/FootstepController.cs
  Bat_Brewery/Assets/Player/Footsteps/FootstepController.prefab
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v1.prefab
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v1.prefab.meta
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v2.prefab
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v2.prefab.meta
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v3.prefab
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v3.prefab.meta
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v4.prefab
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v4.prefab.meta
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v5.prefab
  Bat_Brewery/Assets/Player/Footsteps/Footstep_v5.prefab.meta
  Bat_Brewery/Assets/Player/Footsteps/footsteps.png
  Bat_Brewery/Assets/Player/Footsteps/footsteps.png.meta
  Bat_Brewery/Assets/Player/Main Camera.prefab
  Bat_Brewery/Assets/Player/Movement/CameraMovement.cs
  Bat_Brewery/Assets/Player/Movement/PlayerMovement.cs
  Bat_Brewery/Assets/Player/Player.prefab
  Bat_Brewery/Assets/Scenes/MovementTest.unity
Labels: Grapich Design, System design

#66 Npc dialogue
  Bat_Brewery/Assets/NPCSystem/DialogueManager.cs
  Bat_Brewery/Assets/NPCSystem/IInteractable.cs
  Bat_Brewery/Assets/NPCSystem/NPC.cs
  Bat_Brewery/Assets/NPCSystem/TalkableNPC.cs
  Bat_Brewery/Assets/NPCSystem/mushDood.cs
  Bat_Brewery/Assets/Resources/Dialogue/mushDood.ink
  Bat_Brewery/Assets/Resources/Dialogue/mushDood.json
  Bat_Brewery/Assets/Resources/NPCs/Portraits.meta
  Bat_Brewery/Assets/Resources/NPCs/Portraits/portrait-mush.png
  Bat_Brewery/Assets/Resources/NPCs/Portraits/portrait-mush.png.meta
  Bat_Brewery/Assets/Scenes/NPCTestbed.unity
  Bat_Brewery/Assets/UI/DialogueContainer.prefab
  Bat_Brewery/Assets/UI/DialogueContainer.prefab.meta
  Bat_Brewery/Assets/UI/UICanvas.prefab
  Bat_Brewery/Assets/UI/UICanvas.prefab.meta
Labels: Ux Design, System design

#67 Added animations and updated animator
  Bat_Brewery/Assets/Player/Animations/Idle_BL.anim
  Bat_Brewery/Assets/Player/Animations/Idle_BL.anim.meta
  Bat_Brewery/Assets/Player/Animations/Idle_BR.anim
  Bat_Brewery/Assets/Player/Animations/Idle_BR.anim.meta
  Bat_Brewery/Assets/Player/Animations/Idle_FL.anim
  Bat_Brewery/Assets/Player/Animations/Idle_FL.anim.meta
  Bat_Brewery/Assets/Player/Animations/Idle_FR.anim
  Bat_Brewery/Assets/Player/Animations/Idle_FR.anim.meta
  Bat_Brewery/Assets/Player/Animations/Player.controller
  Bat_Brewery/Assets/Player/Animations/Walk_BL.anim
  Bat_Brewery/Assets/Player/Animations/Walk_BL.anim.meta
  Bat_Brewery/Assets/Player/Animations/Walk_BR.anim
  Bat_Brewery/Assets/Player/Animations/Walk_BR.anim.meta
  Bat_Brewery/Assets/Player/Animations/Walk_FL.anim
  Bat_Brewery/Assets/Player/Animations/Walk_FL.anim.meta
  Bat_Brewery/Assets/Player/Animations/Walk_FR.anim
  Bat_Brewery/Assets/Player/Animations/Walk_FR.anim.meta
  Bat_Brewery/Assets/Player/Movement/PlayerMovement.cs
  Bat_Brewery/Assets/Player/Sprites/Bat-bl.png
  Bat_Brewery/Assets/Player/Sprites/Bat-bl.png.meta
  Bat_Brewery/Assets/Player/Sprites/Bat-br.png
  Bat_Brewery/Assets/Player/Sprites/Bat-br.png.meta
  Bat_Brewery/Assets/Player/Sprites/Bat-fl.png
  Bat_Brewery/Assets/Player/Sprites/Bat-fl.png.meta
  Bat_Brewery/Assets/Player/Sprites/Bat-fr.png
  Bat_Brewery/Assets/Player/Sprites/Bat-fr.png.meta
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-bl.png
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-bl.png.meta
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-br.png
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-br.png.meta
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-fl.png
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-fl.png.meta
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-fr.png
  Bat_Brewery/Assets/Player/Sprites/Bat-idle-fr.png.meta
  Bat_Brewery/Assets/Scenes/MovementTest.unity
Labels: Animation
