Repository Strawbatz/Bat_Brewery, pull requests merged in 2024-03, with the labels that each got.

#88 Added all ingredient descriptions as dialogue
  Bat_Brewery/Assets/Item System/Ingredient.cs
  Bat_Brewery/Assets/Item System/IngredientDescriptions.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/Bo-BaDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/Bo-BaDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/Bo-BaDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/Bo-BaDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KaliDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KaliDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KaliDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KaliDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KrikroDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KrikroDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KrikroDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/KrikroDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/MyntaDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/MyntaDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/MyntaDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/MyntaDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/StarberryDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/StarberryDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/StarberryDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/StarberryDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/SwompDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/SwompDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/SwompDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/SwompDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TomBarrDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TomBarrDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TomBarrDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TomBarrDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwistersDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwistersDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwistersDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwistersDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WilflowDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WilflowDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WilflowDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WilflowDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WoogleDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WoogleDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WoogleDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/WoogleDesc.json.meta
  Bat_Brewery/Assets/Item System/WorldIngredient.cs
  Bat_Brewery/Assets/NPCSystem/DialogueManager.cs
  Bat_Brewery/Assets/Resources/Ingredients/Bo-Ba.asset
  Bat_Brewery/Assets/Resources/Ingredients/Kali.asset
  Bat_Brewery/Assets/Resources/Ingredients/Krikro.asset
  Bat_Brewery/Assets/Resources/Ingredients/Mynta.asset
  Bat_Brewery/Assets/Resources/Ingredients/Strawberry.asset
  Bat_Brewery/Assets/Resources/Ingredients/Swomp.asset
  Bat_Brewery/Assets/Resources/Ingredients/Tombarr.asset
  Bat_Brewery/Assets/Resources/Ingredients/Wilflow.asset
  Bat_Brewery/Assets/Resources/Ingredients/Woogle.asset
  Bat_Brewery/Assets/Scenes/Itemtesting.unity
Labels: Narrative Design, System design

#104 Ingredient tag system
  Bat_Brewery/Assets/EventSystem/InteractableObject.cs
  Bat_Brewery/Assets/Input System/DefaultInputActions.inputactions
  Bat_Brewery/Assets/Input System/DefaultInputActions.inputactions.meta
  Bat_Brewery/Assets/Input System/InputEvents.cs
  Bat_Brewery/Assets/Input System/InputManager.prefab
  Bat_Brewery/Assets/Input System/PlayerInputs.cs
  Bat_Brewery/Assets/Input System/PlayerInputs.inputactions
  Bat_Brewery/Assets/Item System/ItemContainer.prefab
  Bat_Brewery/Assets/Item System/ItemContainer.prefab.meta
  Bat_Brewery/Assets/Item System/ItemTagManager.cs
  Bat_Brewery/Assets/Item System/ItemTagManager.cs.meta
  Bat_Brewery/Assets/Item System/TagMenuButton.cs
  Bat_Brewery/Assets/Item System/TagMenuButton.cs.meta
  Bat_Brewery/Assets/Item System/WorldIngredient.cs
  Bat_Brewery/Assets/Resources/Visual Tags/MysteryBox.asset
  Bat_Brewery/Assets/Resources/Visual Tags/MysteryBox.asset.meta
  Bat_Brewery/Assets/Scenes/Itemtesting.unity
  Bat_Brewery/Assets/UI/TagMenuContainer.prefab
  Bat_Brewery/Assets/UI/TagMenuContainer.prefab.meta
  Bat_Brewery/Assets/UI/frame.png
  Bat_Brewery/Assets/UI/frame.png.meta
Labels: Ux Design, System design

#108 UI tweaks
  Bat_Brewery/Assets/Item System/IngredientPickUp.prefab
  Bat_Brewery/Assets/Item System/ItemTagManager.cs
  Bat_Brewery/Assets/Item System/TagMenuButton.cs
  Bat_Brewery/Assets/NPCSystem/DialogueManager.cs
  Bat_Brewery/Assets/Scenes/Itemtesting.unity
  Bat_Brewery/Assets/UI/ChoiceButton.prefab
  Bat_Brewery/Assets/UI/ChoiceButton.prefab.meta
  Bat_Brewery/Assets/UI/DialogueContainer.prefab
  Bat_Brewery/Assets/UI/UICanvas.prefab
Labels: Ux Design

#120 Freeze player movement
  Bat_Brewery/Assets/EventSystem/GameEventsManager.cs
  Bat_Brewery/Assets/Item System/ItemTagManager.cs
  Bat_Brewery/Assets/NPCSystem/DialogueManager.cs
  Bat_Brewery/Assets/Player/Movement/PlayerMovement.cs
  Bat_Brewery/Assets/Player/Movement/PlayerMovementEvents.cs
  Bat_Brewery/Assets/Player/Movement/PlayerMovementEvents.cs.meta
  Bat_Brewery/Assets/Scenes/MVP_Map.unity
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound1.wav
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound1.wav.meta
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound2.wav
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound2.wav.meta
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound3.wav
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound3.wav.meta
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound4.wav
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound4.wav.meta
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound5.wav
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound5.wav.meta
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound6.wav
  Bat_Brewery/Assets/Sound/SoundEffects/Drones/magpie sound6.wav.meta
  Bat_Brewery/Assets/Sound/SoundEffects/Footstep Sounds/stone path walk.wav
  Bat_Brewery/Assets/Sound/SoundEffects/Footstep Sounds/stone path walk.wav.meta
  Bat_Brewery/Assets/Sound/SoundManager.prefab
Labels: System design, Sound Design

#155 Textbook desc
  Bat_Brewery/Assets/Input System/InputEvents.cs
  Bat_Brewery/Assets/Input System/InputManager.prefab
  Bat_Brewery/Assets/Input System/PlayerInputs.cs
  Bat_Brewery/Assets/Input System/PlayerInputs.inputactions
  Bat_Brewery/Assets/Item System/Ingredient.cs
  Bat_Brewery/Assets/Item System/WorldIngredient.cs
  Bat_Brewery/Assets/NPCSystem/DialogueManager.cs
  Bat_Brewery/Assets/Player/Inventory/PlayerTextbook.cs
  Bat_Brewery/Assets/Player/Inventory/PlayerTextbook.cs.meta
  Bat_Brewery/Assets/Player/Player.prefab
  Bat_Brewery/Assets/Quest System/Quest Scripts/QuestEvents.cs
  Bat_Brewery/Assets/Quest System/Quest Step Scripts/GatherIngredientsQS.cs
  Bat_Brewery/Assets/Quest System/Quest Step Scripts/GiftIngredientsQS.cs
  Bat_Brewery/Assets/Resources/Ingredients/Bo-Ba.asset
  Bat_Brewery/Assets/Resources/Ingredients/Kali.asset
  Bat_Brewery/Assets/Resources/Ingredients/Krikro.asset
  Bat_Brewery/Assets/Resources/Ingredients/Mynta.asset
  Bat_Brewery/Assets/Resources/Ingredients/Strawberry.asset
  Bat_Brewery/Assets/Resources/Ingredients/Swomp.asset
  Bat_Brewery/Assets/Resources/Ingredients/Tom Barr.asset
  Bat_Brewery/Assets/Resources/Ingredients/Tom Barr.asset.meta
  Bat_Brewery/Assets/Resources/Ingredients/Tombarr.asset
  Bat_Brewery/Assets/Resources/Ingredients/Wilflow.asset
  Bat_Brewery/Assets/Resources/Ingredients/Woogle.asset
  Bat_Brewery/Assets/Scenes/TestScenes/Itemtesting.unity
  Bat_Brewery/Assets/UI/ArrowDown.png
  Bat_Brewery/Assets/UI/ArrowDown.png.meta
  Bat_Brewery/Assets/UI/ArrowRight.png
  Bat_Brewery/Assets/UI/ArrowRight.png.meta
  Bat_Brewery/Assets/UI/DialogueContainer.prefab
  Bat_Brewery/Assets/UI/TagMenuContainer.prefab
  Bat_Brewery/Assets/UI/TextbookContainer.prefab
  Bat_Brewery/Assets/UI/TextbookContainer.prefab.meta
  Bat_Brewery/Assets/UI/TextbookController.cs
  Bat_Brewery/Assets/UI/TextbookController.cs.meta
  Bat_Brewery/Assets/UI/TextbookDesc.prefab
  Bat_Brewery/Assets/UI/TextbookDesc.prefab.meta
  Bat_Brewery/Assets/UI/TextbookHeader.prefab
  Bat_Brewery/Assets/UI/TextbookHeader.prefab.meta
  Bat_Brewery/Assets/UI/TextbookItem.cs
  Bat_Brewery/Assets/UI/TextbookItem.cs.meta
  Bat_Brewery/Assets/UI/UICanvas.prefab
Labels: Ux Design, System design

#162 Update DialogueManager.cs
  Bat_Brewery/Assets/NPCSystem/DialogueManager.cs
Labels: Ux Design

#177 Completed refactor of inventory, added Quest Items
  Bat_Brewery/Assets/Item System/IngredientSO.cs
  Bat_Brewery/Assets/Item System/QuestItemSO.cs
  Bat_Brewery/Assets/Item System/QuestItemSO.cs.meta
  Bat_Brewery/Assets/Player/Inventory/PlayerInventory.cs
  Bat_Brewery/Assets/Quest System/Quest Step Scripts/GatherItemsQS.cs
  Bat_Brewery/Assets/Quest System/Quest Step Scripts/GiftItemsQS.cs
Labels: System design

#181 Bear river setup and Level managment
  Bat_Brewery/Assets/Environment/Objects/ObjectQuestChange.cs
  Bat_Brewery/Assets/EventSystem/GameEventsManager.cs
  Bat_Brewery/Assets/GameManagers.prefab
  Bat_Brewery/Assets/GameManagers.prefab.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwisterDesc.ink
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwisterDesc.ink.meta
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwisterDesc.json
  Bat_Brewery/Assets/Item System/IngredientDescriptions/TwisterDesc.json.meta
  Bat_Brewery/Assets/Item System/IngredientPickups/TwisterPickUp Variant.prefab
  Bat_Brewery/Assets/Item System/IngredientPickups/TwisterPickUp Variant.prefab.meta
  Bat_Brewery/Assets/Managers.prefab
  Bat_Brewery/Assets/Managers.prefab.meta
  Bat_Brewery/Assets/Player/Player.prefab
  Bat_Brewery/Assets/Player/PlayerManager.cs
  Bat_Brewery/Assets/Player/Smell/SmellSource.cs
  Bat_Brewery/Assets/Quest System/Quest Scripts/Quest.cs
  Bat_Brewery/Assets/Quest System/Quest Scripts/QuestManager.cs
  Bat_Brewery/Assets/Quest System/Quest Scripts/QuestPoint.cs
  Bat_Brewery/Assets/Resources/Ingredients/Twister.asset
  Bat_Brewery/Assets/Resources/Ingredients/Twister.asset.meta
  Bat_Brewery/Assets/SceneManagers.prefab
  Bat_Brewery/Assets/SceneManagers.prefab.meta
  Bat_Brewery/Assets/Scenes/BearRiver.unity.meta
  Bat_Brewery/Assets/Scenes/GameManagment.meta
  Bat_Brewery/Assets/Scenes/GameManagment/GameManager.cs
  Bat_Brewery/Assets/Scenes/GameManagment/GameManager.cs.meta
  Bat_Brewery/Assets/Scenes/GameManagment/GameManager.prefab
  Bat_Brewery/Assets/Scenes/GameManagment/GameManager.prefab.meta
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPoint.cs
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPoint.cs.meta
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPoint.prefab
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPoint.prefab.meta
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPointSO.cs
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPointSO.cs.meta
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPoints.meta
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPoints/BearRiverBridge.asset
  Bat_Brewery/Assets/Scenes/GameManagment/TraversalPoints/BearRiverBridge.asset.meta
  Bat_Brewery/Assets/Scenes/TestScenes/MVP_Map.unity
  Bat_Brewery/Assets/Sound/SoundManager.cs
  Bat_Brewery/Assets/Utilities/Map_layout.png
  Bat_Brewery/ProjectSettings/EditorBuildSettings.asset
Labels: Game Design, System design
